---
import BackofficeLayout from '@/layouts/BackofficeLayout.astro'
import CategoriesTable from './_policies-table'
---

<BackofficeLayout title="Categorías">
    <div class="min-lg:flex flex-col items-center justify-center h-full max-lg:pt-20">
        <CategoriesTable client:load />
    </div>
</BackofficeLayout>
